.phonetic{
  --at-apply: relative;
}

.phonetic::before {
  content: var(--phonetic);
  transition: var(--transition-out);
  --at-apply:
    flex font-light text-[0.75em] opacity-0
    absolute top-[-1.5rem] w-full text-center
    justify-center left-0 [translate:0_.5em]
    [scale:0.8] text-main;
}
