@keyframes slowShow {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes right-in {
  0% {
    translate: 3vw 0;
    opacity: 0
  }
  100% {
    translate: none;
    opacity: 1
  }
}

@keyframes footer-show {
  0% {
    opacity: 0
  }
  67% {
    opacity: 0;
    translate: .5em 0;
    letter-spacing: .1em
  }
  100% {
    opacity: .06;
    translate: none;
    letter-spacing: 0
  }
}
