@keyframes slowShow {
  0% {
    --at-apply: op-0;
  }
  100% {
    --at-apply: op-100;
  }
}

@keyframes right-in {
  0% {
    --at-apply: op-0;
    translate: 3vw 0;
  }
  100% {
    --at-apply: op-100;
    translate: none;
  }
}

@keyframes footer-show {
  0% {
    --at-apply: op-0;
  }
  67% {
    --at-apply: op-0;
    translate: .5em 0;
    letter-spacing: .1em
  }
  100% {
    --at-apply: op-6;
    translate: none;
    letter-spacing: 0
  }
}
