.prose-doc .custom-block {
  --at-apply:
    bg-card rounded-lg overflow-x-auto
    my-7 pl-[42px] pr-6 pt-5 pb-1 text-sm
    relative leading-[1.6] font-medium;
  transition: color 0.5s, background-color 0.5s;
}


.prose-doc .custom-block:before {
  --at-apply: absolute font-semibold text-[15px] left-[17px] top-5;
  content: 'ⓘ';
}

.prose-doc .custom-block.warning:before,
.prose-doc .custom-block.danger:before {
  --at-apply: text-[17px] left-4 top-[19px];
  content: '⚠';
}

.prose-doc .custom-block .custom-block-title {
  --at-apply: text-[15px] font-medium mb-2;
  transition: color 0.5s;
}

.prose-doc .custom-block {
  --at-apply: border border-dotted;
}

.prose-doc .custom-block.tip {
  --at-apply: border-green-500;
}

.prose-doc .custom-block.tip .custom-block-title,
.prose-doc .custom-block.tip:before {
  --at-apply: text-green-500;
}

.prose-doc .custom-block.warning {
  --at-apply: border-yellow-500;
}

.prose-doc .custom-block.warning .custom-block-title,
.prose-doc .custom-block.warning:before {
  --at-apply: text-yellow-500;
}

.prose-doc .custom-block.danger {
  --at-apply: border-red-500;
}

.prose-doc .custom-block.danger .custom-block-title,
.prose-doc .custom-block.danger:before {
  --at-apply: text-red-500;
}

.prose-doc .custom-block ul li:before {
  top: 0.55rem;
}
.prose-doc .custom-block ol li:before {
  top: 1px;
  font-size: 13px;
}

.prose-doc .custom-block :not(pre) > code {
  font-size: 13px;
  --at-apply: bg-primary;
}
