.vp-code-group {
  --at-apply: mt-4;
}

.vp-code-group .tabs {
  --at-apply:
    bg-card relative flex mx--6 border border-border
    overflow-x-auto overflow-y-hidden px-3;
  box-shadow: inset 0 -1px hsl(var(--border))
}

@media (min-width: 640px) {
  .vp-code-group .tabs {
    --at-apply: mx-0 rounded-t-md;
  }
}

.vp-code-group .tabs input {
  --at-apply: fixed op-0 pointer-events-none;
}

.vp-code-group .tabs label {
  --at-apply:
    relative inline-block leading-[48px] text-sm text-foreground/60
    font-medium px-3 py-0 border-b-transparent border-b border-solid
    whitespace-nowrap cursor-pointer transition-[color] duration-[0.25s];
}

.vp-code-group .tabs label:after {
  --at-apply: absolute z-[1] h-0.5 rounded-sm -bottom-px inset-x-2;
  content: "";
  background-color: transparent;
  transition: background-color .25s;
}

.vp-code-group label:hover {
  --at-apply: text-foreground/80;
}

.vp-code-group input:checked+label {
  --at-apply: text-foreground;
}

.vp-code-group input:checked+label:after {
  --at-apply: bg-primary;
}

.vp-code-group div[class*=language-],.vp-block {
  --at-apply: hidden mt-0! rounded-t-none!;
}

.vp-code-group div[class*=language-].active,.vp-block.active {
  --at-apply: block;
}
