.prose-md a{
  --at-apply:
    items-center gap-x-0.5 w-fit hover:bg-action hover:text-gray-12
    after:content-[''] after:absolute after:bottom-px after:left-0
    after:w-full after:h-px after:bg-action relative inline-flex
    cursor-pointer;
}

.prose-md hr {
  --at-apply:
    flex select-none my-8 w-[calc(100%-6px)] mx-auto rounded-md
    border-none transition-colors duration-100 ease-out flex-col
    h-0.5 bg-gray-12;
}

.prose-md p {
  --at-apply:
    my-2 leading-loose;
}

.prose-md h1 {
  --at-apply: font-medium flex items-center gap-x-1.5 text-18px pt-2;
}

.prose-md h2 {
  --at-apply: font-medium flex items-center gap-x-1.5 text-16px pt-2;
}

.prose-md h3 {
  --at-apply: font-medium flex items-center gap-x-1.5 text-14px pt-2;
}
