body {
  --foreground-rgb: 0,0,0;
  --background-start-rgb: 214,219,220;
  --background-end-rgb: 255,255,255;
  --theme-action: 134 61.4% 40.6%;
}

.dark body {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 0,0,0;
  --background-end-rgb: 0,0,0;

  --theme-action: 77.6 97.6% 50%;
}

@font-face{
  font-family: ANWE;
  src: url("./font/anwt.woff2");
}
