.dark .shiki {
  background: #0e0e0e!important;
}
.shiki {
  background: #f8f8f8!important;
}

.dark .prose pre:not(.shiki) {
  padding: .8571429em 1.1428571em;
  margin: .5em 0;
}

.prose pre:not(.shiki) {
  padding: .8571429em 1.1428571em;
  margin: .5em 0;
}

.prose .shiki {
  font-family: 'DM Mono', 'Input Mono', 'Fira Code', monospace;
  font-size: 0.92em;
  line-height: 1.4;
  margin: 0.5em 0;
}

pre {
  font-family: 'DM Mono', 'Input Mono', 'Fira Code', monospace;
  font-size: 0.92em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.shiki-light {
  background: #f8f8f8 !important;
}
.shiki-dark {
  background: #0e0e0e !important;
}

.prose {
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  color: var(--fg);
}

.prose a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}

.prose a:hover {
  border-bottom: 1px solid var(--fg);
}

.prose a code {
  color: inherit;
}

.prose hr {
  width: 50px;
  margin: 2em auto;
}

html.dark .prose {
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}

a.item:hover {
  opacity: 1;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

.prose blockquote {
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  padding: 0.6em 1.2em;
  opacity: 0.8;
}

.prose blockquote > :first-child {
  margin-top: 0;
}

.prose blockquote > :last-child {
  margin-bottom: 0;
}

.prose blockquote p:first-of-type::before {
  content: none;
}

.prose blockquote p:first-of-type::after {
  content: none;
}

.table-of-contents {
    position: fixed;
    top: 90px;
    bottom: 0;
    font-size: .8em;
    left: 20px;
    z-index: 200;
    overflow: hidden;
    display: none;
    width: 100px;
    flex-direction: column
}

@media (min-width: 1024px) {
  .table-of-contents {
    width:200px;
    display: flex
  }
}

@media (min-width: 1280px) {
  .table-of-contents {
    width:300px
  }
}

.table-of-contents-anchor {
    margin-left: .5rem;
    margin-right: .5rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    --un-border-opacity: .27;
    border-color: rgba(136,136,136,var(--un-border-opacity));
    border-radius: .25rem;
    --un-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--un-bg-opacity));
    font-size: 1.125rem;
    line-height: 1.75rem;
    --un-text-opacity: .47;
    color: rgba(136,136,136,var(--un-text-opacity));
    --un-shadow: var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgba(0,0,0,.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgba(0,0,0,.1));
    box-shadow: var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow);
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-duration: .4s
}

.dark .table-of-contents-anchor {
    --un-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--un-bg-opacity))
}

@media (min-width: 768px) {
    .table-of-contents-anchor {
        border-color:transparent;
        --un-shadow: 0 0 var(--un-shadow-color, rgba(0,0,0,0));
        box-shadow: var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
    }
}

.table-of-contents>ul {
    text-overflow: ellipsis;
    height: 100%;
    overflow-y: auto;
    margin-top: .25rem;
    border-radius: .25rem;
    padding-bottom: 1.25rem;
    opacity: 0;
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-duration: .7s
}

*:hover>.table-of-contents>.table-of-contents-anchor,.toc-always-on .table-of-contents>.table-of-contents-anchor {
    color: inherit
}

.toc-always-on .table-of-contents>ul {
    opacity: .6
}

*:hover>.table-of-contents>ul {
    opacity: .75
}

.table-of-contents ul>li:before {
    display: none
}

.table-of-contents ul>li {
    padding-left: .8rem;
    line-height: 1.5em;
    margin-top: .5em
}

.table-of-contents ul>li>a {
    opacity: .75;
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.table-of-contents ul>li>a:hover {
    opacity: 1
}

.alt :where(p,pre,li,img,div,h2,h1,h3,h4,h5,h6) {
  opacity: .6;
  filter: blur(2px);
  transition: 240ms;
  transition-property: opacity,filter;
}

.alt :where(p,pre,li,img,div,h2,h1,h3,h4,h5,h6):hover {
  opacity: 1;
  filter: blur(0);
}
